.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    background-color: white;
}

.item {
    height: 240px;
    width: 320px;
    border: 1px solid lightgrey;
    overflow: hidden;
}

.item:hover {
    transform: scale(1.03);
}