.loadMoreBtn {
    background-color: #252c91c7;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    display: block;
    margin: 20px auto;
    text-align: center;
    width: 150px;
    }

.loadMoreBtn:hover {
        background-color: #252d91;
    }
