header {
    display: flex;
    flex-wrap:nowrap;
    align-content: center;
    justify-content: center;
    background-color: #252d91;
    max-width: 100%;
    padding: 10px;
    margin-top: 0px;
    top: 0;
    position: sticky;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 500px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    background-color: white;
    overflow: hidden;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: none;
    border-radius: 0px;
    padding: 10px;
}

.button:focus {
    outline: none;
}

.FiSearch {
    color: rgb(100, 100, 100);
}

.FiSearch:hover, 
.FiSearch:focus {
    color: black;
}


.input {
    width: 465px;
    outline: none;
    border: none;
    background-color: white;
    color: black;
    font-size: 16px;
}

